@media (min-width: 576px) {
  .cinema {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .cinema {
    width: 85%;
  }
}

.conversation {
  width: 100%;
  float: left;
  height: 500px;
  padding: 25px 10px 0 10px;

  .chat-list {
    float: left;
    width: 100%;

    .other {
      float: left;

      .chat-content {
        float: left;
        background-color: #f1f0f0;
        border-radius: 10px;
        padding: 5px 8px 6px;
        margin-top: 1px;
        text-align: left;
      }
    }

    .chat {
      width: 90%;
    }

    .owner {
      float: right;

      .chat-content {
        float: right;
        text-align: right;
        background-color: #8c72cb;
        color: white;
        padding: 5px 8px 6px;
        border-radius: 10px;
        margin-top: 1px;
        text-align: left;
      }
    }
  }
}

.type-box {
  float: left;
  width: 100%;

  .input {
    width: 100% !important;
  }
}
