
.form-login {
  .img-logo {
    padding-bottom: 25px;

    img {
      width: 300px;
    }
  }

  .label-login {
    padding: 10px 0 10px 0;
  }

  .btn-login {
    border-radius: 3px;
    height: 42px;
    width: 167px;
    background: #757575;
  }

  .login-button {
    margin-top: 30px;
  }
}
