<!DOCTYPE html>
<html>
  <head>
    <title>StreamingMusic</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div id="react-helper"></div>
    <div id="react-wrapper"></div>
  </body>
</html>
